*{
	text-align: center;
}

body{
	display: flex;
	justify-content: center;
	background-color: #081426;
	color: #a9a297;
	font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;;
}

main{
	width: 800px;
	margin: 100px 10px 100px 10px;
}

hr{
	min-width: 300px;
}

.name{
	margin: 25px 10px 10px 10px;
	color: #60ffd9
}

.email-title{
	color: #60ffd9
}

.button{
	color: #60ffd9; 
	background-color: transparent; 
	border: 1px solid #60ffd9; 
	border-radius: var(--border-radius);
	padding: 1.25rem 1.75rem;
	font-size: var(--fz-sm);
	font-family: var(--font-mono);
	line-height: 1;
	text-decoration: none;
	cursor: pointer;
	transition: var(--transition);
	margin-top: 50px;
}

.email p {
	margin-bottom: 30px;
}

.description{
	margin: 10px 10px 50px 10px;	
}

.text{
	margin: 10px 10px 50px 10px;
}

footer{
	margin: 50px 10px 25px 10px;
}

footer hr{
	margin-bottom: 15px;
}

img{
	width: 200px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.flex-container{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.flex-item{
	display: flex;
	flex-direction: column;
	min-width: 200px;
}

.flex-item a{
	color: #a9a297;
	text-decoration: none;
	cursor: pointer;
}

.flex-item a:hover, .flex-item a:visited, .flex-item:active{
	color: #60ffd9;
}
