*{
	text-align: center;
}

body{
	display: flex;
	justify-content: center;
}

main{
	width: 800px;
	margin: 100px 10px 100px 10px;
}

hr{
	min-width: 300px;
}

.name{
	margin: 25px 10px 10px 10px;
}

.description{
	margin: 10px 10px 50px 10px;	
}

.text{
	margin: 10px 10px 50px 10px;
}

footer{
	margin: 10px 10px 25px 10px;
}

img{
	width: 200px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.flex-container{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.flex-item{
	display: flex;
	flex-direction: column;
	min-width: 200px;
}
